{
  "extends": [
    "nevermined"
  ],
  "rules": {
	"@typescript-eslint/no-explicit-any": "off",
	"@typescript-eslint/explicit-module-boundary-types": "off",
	"@typescript-eslint/no-non-null-assertion": "off",
    "@next/next/no-html-link-for-pages": "off"
  }
}
